<div class="main-content transport-list rqgt-list">
  <div class="container-fluid">
    <div class="row">
      <button class="btn btn-primary"
              (click)="loadRqgt()">Test http<div class="ripple-container"></div></button>
    </div>

    <!-- Loader -->
    <div class="loader-css-material" *ngIf="!rqgtService.loadedRqgtResults">
      <div class="showbox">
        <div class="loader">
          <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
          </svg>
        </div>
      </div>
    </div>

    <div class="row"
         *ngFor="let currentRqgt of rqgtService.currentRqgtResults">
      <div class="card"
          *ngIf="rqgtService.loadedRqgtResults">
        <div class="card-header card-header-icon" data-background-color="rose">
          <h4 class="card-title">10 m3</h4>
        </div>
        <div class="card-content">
          <h4 class="card-title">Volume necessario stimato</h4>
          <div class="row">
            <!--Dati indirizzo e timing-->
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-addon">
                  Da:
                </span>
                <div class="">
                  <label class="item-description-content">Via Rensa 45, Roma</label>
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  A:
                </span>
                <div class="">
                  <label class="item-description-content">Via Savoia 3, Ravenna</label>
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">event</i>
                </span>
                <div class="">
                  <label class="item-description-content">Prima possibile</label>
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  Richiedente:
                </span>
                <div class="">
                  <label class="item-description-content">Luca Liguori</label>
                </div>
              </div>

              <div class="input-group">
                <button class="btn btn-primary btn-simple">
                  VEDI DETTAGLI
                  <div class="ripple-container"></div>
                </button>
              </div>
            </div>

            <!-- Dati Descrizione -->
            <div class="col-md-5">
              <div class="input-group description-group">
                <!--<span class="input-group-addon">
                  Descrizione:
                </span>-->
                <div class="">
                  <label class="item-description-content"><span class="description-label">Descrizione:&nbsp;</span>Una descrizione in questo caso utilizzata come dato di test. Una descrizione in questo caso utilizzata come dato di test. Una descrizione in questo caso utilizzata come dato di test. Una descrizione in questo caso utilizzata come dato di test.</label>
                </div>
              </div>
            </div>

            <!-- Contatti -->
            <div class="col-md-4 contact-info">

              <div class="v-flex">
                <!-- phone -->
                <div class="contact-item">
                  <div class="h-flex flex-start">
                    <div class="btn-contact">
                      <button class="input-group-addon btn btn-primary
                              btn-round btn-fab btn-fab-mini">
                        <i class="material-icons">call</i>
                        <div class="ripple-container"></div>
                      </button>
                    </div>
                    <div class="">
                      <label class="item-description-content">345-12345678</label>
                    </div>
                  </div>
                </div>
                <!-- mail -->
                <div class="contact-item">
                  <div class="h-flex flex-start">
                    <div class="btn-contact">
                      <button class="input-group-addon btn btn-primary btn-round btn-fab btn-fab-mini">
                        <i class="material-icons">mail_outline</i>
                        <div class="ripple-container"></div>
                      </button>
                    </div>
                    <div class="">
                      <label class="item-description-content">test_12@mail.it</label>
                    </div>
                  </div>
                </div>
              </div>

              <!--<div class="input-group">
                <button class="input-group-addon btn btn-primary btn-round btn-fab btn-fab-mini">
                  <i class="material-icons">call</i>
                  <div class="ripple-container"></div>
                </button>
                <div class="">
                  <label class="item-description-content">Luca Liguori</label>
                </div>
              </div>-->
              <!--<button class="btn btn-primary btn-round btn-fab btn-fab-mini">
                <i class="material-icons">call</i>
                <div class="ripple-container"></div>
              </button>

              <button class="btn btn-primary btn-round">
                <i class="material-icons">mail_outline</i> test_12@mail.it
              </button>-->
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-transport-suggest-publish" *ngIf="showSuggestPublishFooter">
  <div class="alert alert-info" data-notify="container">
    <button type="button" aria-hidden="true"
            class="close" (click)="showSuggestPublishFooter = false;">
      <i class="material-icons">close</i>
    </button>
    <div class="notif-content">
      <p class="label-sentence" data-notify="message">Non trovi la richiesta per te?</p>
      <button class="btn btn-primary publish-btn-call"
              (click)="publishAvailability()">Pubblica la disponibilita'<div class="ripple-container"></div></button>
    </div>
  </div>
</div>


