

/*  -------------------------------------------------------------------------------------------- */
/*  --------------------------------------       LAYOUT        --------------------------------- */
/*  -------------------------------------------------------------------------------------------- */

/*.sidebar, .sidebar-wrapper {
    display: none;
}*/

.navbar {
  overflow: hidden;
  /*background-color: #333;*/
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  color: #fff;
  padding-top: 25px;
  z-index: 1029;
}

.main-panel.sidebar-not-present {
  width: 100%;
}

button.btn.no-transform {
  text-transform: none;
}

.carryon-navbar .navbar-brand {
  font-size: 30px;
}


.carryon-navbar .navbar-item {
  font-size: 18px;
}

.carryon-navbar.navbar .navbar-nav > li > a {
  font-size: 18px !important;
}

.v-flex {
  display: flex;
  flex-direction: column;
}

.h-flex {
  display: flex;
  flex-direction: row;
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}


/*  -------------------------------------------------------------------------------------------- */
/*  ----------------------------------        LANDING PAGE        ------------------------------ */
/*  -------------------------------------------------------------------------------------------- */
.landing-page .header h1 {
  font-weight: 500 !important;
  font-size: 32px !important;
}

.landing-page .header h2 {
  font-size: 26px !important;
}

.landing-page .container.main-search-container {
  padding-top: 140px !important;
}

.landing-page .card-header.card-header-text {
  padding: 12px;
}

.landing-page .card.main-search-form .card-header.card-header-text h4 {
  font-size: 17px;
}

.landing-page .card.main-search-form label.control-label {
  font-size: 16px !important;
  /*top: -15px !important;*/
}

.landing-page .card .card-content {
  padding-bottom: 4px !important;
  padding-top: 4px !important;
}

#card-content-foce-relative {
  position: relative;
}

.btn.btn-fill.btn-rose,
.btn.btn-fill.btn-rose:hover, .btn.btn-fill.btn-rose:focus, .btn.btn-fill.btn-rose:active,
.btn.btn-fill.btn-rose.active, .btn.btn-fill.btn-rose:active:focus {
  background-color: #e91e63;
}

.btn.btn-fill.btn-info,
.btn.btn-fill.btn-info:hover, .btn.btn-fill.btn-info:focus, .btn.btn-fill.btn-info:active,
.btn.btn-fill.btn-info.active, .btn.btn-fill.btn-info:active:focus {
  background-color: #00bcd4 !important;
  box-shadow: 0 2px 26px -12px rgba(0, 188, 212, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 188, 212, 0.2) !important;
}


.btn#btnSearchTransports, .btn#btnSearchGoodsToTransports {
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}

  .btn#btnSearchTransports .material-icons, .btn#btnSearchGoodsToTransports .material-icons {
    font-size: 28px;
  }

div.al-center {
  text-align: center;
}

.checkbox.pt-0 {
  padding-top: 0px;
}

div.search-content {
  padding-top: 8px;
  padding-bottom: 4px;
}

.row.adc-announcment-content {
  background-color: rgba(0,0,0,0.7);
  border-radius: 135px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 100px;
  border: #00bcd4 solid 1px;
}

.container-flex {
  display: flex; /* or inline-flex */
  flex-flow: center;
  justify-content: space-around;
}

  .container-flex .announcement-item {
    width: calc(100%/2);
  }

.v-container {
  display: flex; /* or inline-flex */
  flex-direction: column;
  flex-flow: center;
  justify-content: space-around;
  margin-left: 30px;
  margin-right: 30px;
}

.vertical-separator {
  min-width: 5px;
  min-height: 30px;
  border-left: 1px solid white;
}

.circle-separator {
  background: white;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.announcement-item {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.dp-calendar-week {
  margin-top: 1px;
  margin-bottom: 1px;
}

.dp-asap-btn {
  text-align: center;
}

  .dp-asap-btn:hover {
    cursor: pointer;
  }

  /*  -------------------------------------------------------------------------------------------- */
  /*  ------------------------------------        RQGT PAGE        ------------------------------- */
  /*  -------------------------------------------------------------------------------------------- */
  .transport-list .container-fluid {
    padding-left: 35px;
    padding-right: 35px;
  }

.transport-list .input-group-addon {
  font-size: 16px;
  font-weight: bold;
  min-width: 70px;
}

.transport-list .item-description-content {
  color: rgb(85, 85, 85);
  font-weight: normal;
  font-size: 16px;
  padding-top: 6px;
  margin-bottom: 0px;
}

.description-group .input-group-addon {
  padding-top: 8px;
  vertical-align: top;
}

.description-group .description-label {
  font-size: 16px;
  font-weight: bold;
}

.contact-info .contact-item {
  margin-bottom: 20px;
}

.contact-info .btn-contact {
  width: 65px;
}

  .contact-info .btn-contact .btn.btn-fab.btn-fab-mini {
    height: 50px;
    width: 50px;
  }

    .contact-info .btn-contact .btn.btn-fab.btn-fab-mini i {
      font-size: 21px;
    }

.contact-info .item-description-content {
  padding-top: 12px;
}

/*  --------------------------------------------------------------------------------------------------------------  */
/*  -------------------------   Publish request/availability    --------------------------------  */
/*  --------------------------------------------------------------------------------------------------------------  */

.card.wizard-card .tab-content {
  margin-top: 5px !important;
}

.tab-pane h4 {
  margin-bottom: 15px !important; 
}

.wizard-card .form-group.publish-description-area .form-control {
  background-image: none !important;
  border: solid 1px #D2D2D2;
  border-radius: 4px;
}

.tab-customized a {
  background-color: transparent;
  border-radius: 30px;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  min-width: 100px;
  text-align: center;
  color: #555555;
  transition: all .3s;
  position: relative;
  display: block;
  padding: 10px 40px;
}

  .tab-customized a:hover {
    background-color: rgba(200, 200, 200, 0.2);
  }

  .tab-customized a.active {
    background-color: #ff9800;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
    color: #FFFFFF;
  }

  /*  --------------------------------------------------------------------------------------------------------------  */
  /*  -------------------------   Footer to suggest publish request/availability    --------------------------------  */
  /*  --------------------------------------------------------------------------------------------------------------  */
  .footer-transport-suggest-publish {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    z-index: 9999;
    left: 260px;
  }

  .footer-transport-suggest-publish .alert {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
  }

  .footer-transport-suggest-publish .close {
    font-size: 20px;
  }

.notif-content {
  text-align: center;
}

  .notif-content .label-sentence {
    font-size: 16px;
    margin-left: 20px;
  }

  .notif-content .publish-btn-call {
    margin-top: 0px;
    margin-bottom: 2px;
  }

/*  --------------------------------------------------------------------------------------------------------------  */
/*  ----------------------------------   Modern Google Loader in Pure CSS    -------------------------------------  */
/*  --------------------------------------------------------------------------------------------------------------  */
.loader-css-material .loader {
  position: relative;
  margin: 0 auto;
  width: 50px;
  /*&:before {
    content: '';
    display: block;
    padding-top: 100%;
  }*/
}

  .loader-css-material .loader:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

.loader-css-material .circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loader-css-material .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

/*@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #104A93;
  }
  66% {
    stroke: rgb(223, 226, 241);
  }
  80%,
  90% {
    stroke: #e6b400;
  }
}*/

@keyframes color {
  100%, 0% {
    stroke: #104A93;
  }

  40% {
    stroke: rgb(223, 226, 241);
  }

  78%, 90% {
    stroke: #e6b400;
  }
}

/*  --------------------------------------------------------------------------------------------------------------  */
/*  ---------------------------------   END -- Modern Google Loader in Pure CSS    ----------------------------------  */
/*  --------------------------------------------------------------------------------------------------------------  */

