<div class="landing-page">
  <!--<div>-->
  <div class="wrapper">
    <div class="header header-filter" style="background-image: url('https://images.unsplash.com/photo-1423655156442-ccc11daa4e99?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450');">
      <div class="container main-search-container">
        <div class="row">
          <!--<h1 class="title">Fai viaggiare la merce. Risparmiando o guadagnando.</h1>-->
          <div class="col-md-12">
            <div class="card main-search-form">
              <form method="get" action="/" class="form-horizontal">
                <div class="card-header card-header-text" data-background-color="rose">
                  <h4 class="card-title">Fai viaggiare la merce. Risparmiando o guadagnando.</h4>
                </div>
                <div id="card-content-foce-relative" class="card-content">
                  <form method="#" action="#">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group label-floating">
                          <!--<label class="control-label">Partenza da...</label>-->
                          <input type="text" placeholder="Partenza da..." class="form-control" id="req-filter-from">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group label-floating">
                          <!--<label class="control-label">Arrivo a...</label>-->
                          <input type="text" placeholder="Arrivo a..." class="form-control" id="req-filter-to">
                        </div>
                        <!--<div class="checkbox pt-0">
                            <label>
                            <input type="checkbox" name="optionsCheckboxes"> Qualsiasi destinazione
                            </label>
                        </div>-->
                      </div>
                      
                      <div class="col-md-4">

                        <div class="form-group label-floating">
                          <label class="control-label"></label>
                          <dp-date-picker #dayPicker
                                          [(ngModel)]="reqDate" name="reqDate"
                                          placeholder="Inserisci la data"
                                          theme="dp-material" [config]="datePickerConfig"></dp-date-picker>
                        </div>

                        <!--<div class="form-group label-floating">
                          <label class="control-label"></label>
                          <input type="text" placeholder="Data..." class="form-control datepicker"
                                 [(ngModel)]="reqDate" name="reqDate"/>
                        </div>-->

                        <!--<div class="form-group">
                          <label class="control-label">Time Picker</label>
                          <input type="text" class="form-control datepicker" value="10/10/2016" />
                        </div>-->
                        <!--<button [mdDatepickerToggle]="resultPicker"></button>
                        <md-input-container>
                          <input mdInput
                                 [mdDatepicker]="resultPicker"
                                 placeholder="Pick a day">
                        </md-input-container>
                        <md-datepicker #resultPicker
                                       [touchUi]="touch"
                                       [startView]="'month'">
                        </md-datepicker>-->
                        <!--<div class="form-group label-floating">
                          <label class="control-label"></label>
                          <input type="text" placeholder="Data..." class="form-control datetimepicker">
                        </div>-->
                      </div>
                      

                      </div>
                    <div class="row search-content">
                      <!--<div class="col-md-4 al-center">
                        <input [(ngModel)]="reqDate" name="reqDate"/>
                      </div>-->
                      <div class="col-md-4 al-center">
                        <h1>{{reqDate}}</h1>
                      </div>
                      <!--<div class="col-md-4 al-center">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="optionsCheckboxes"> Ho un camion
                          </label>
                        </div>
                      </div>-->
                      <div class="col-md-4 al-center">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="optionsCheckboxes"> Ho della merce
                          </label>
                        </div>
                      </div>
                      <div class="col-md-4 al-center">
                        <button type="submit" class="btn btn-fill btn-info btn-lg no-transform" id="btnSearchTransports"
                                (click)="closaDp()">
                          PROCEDI
                        </button>
                      </div>
                      <!--<div class="col-md-6 al-center">
                        <button type="submit" class="btn btn-fill btn-info btn-lg no-transform" id="btnSearchTransports">
                          <i class="material-icons">local_shipping</i> &nbsp; Ricerca camion disponibili
                        </button>
                      </div>
                      <div class="col-md-6 al-center">
                        <button type="submit" class="btn btn-fill btn-info btn-lg no-transform" id="btnSearchGoodsToTransports">
                          <i class="material-icons">view_module</i> &nbsp; Ricerca richieste di trasporto
                        </button>
                      </div>-->
                    </div>
                  </form>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="row adc-announcment-content">
          <div class="container-flex">
            <div class="announcement-item">
              <h1 class="title">Devi far trasportare qualcosa?</h1>
              <h2>Qui ti costa meno, è affidabile e puntuale.</h2>
              <!--<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-danger btn-raised btn-lg">
                  <i class="fa fa-play"></i> Watch video
              </a>-->
            </div>
            <div class="v-container">
              <div class="vertical-separator"></div>
              <div class="circle-separator"></div>
              <div class="vertical-separator"></div>
            </div>
            <div class="announcement-item">
              <h1 class="title">Hai un mezzo di trasporto?</h1>
              <h2>Non farlo viaggiare o ritornare vuoto! Fallo rendere...</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="howItWorks" class="main main-raised">
      <div class="container">
        <div class="section text-center section-landing">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title">Let's talk product</h2>
              <a routerLink="/rqgt-list">
                <i class="pe-7s-note2">dashboard</i>
                <p>GO TO WIWARD -- TEST</p>
              </a>
              <h5 class="description">
                This is the paragraph where you can write more details about your product. Keep you user engaged
                by providing meaningful information. Remember that by this time, the user is curious, otherwise
                he wouldn't scroll to get here. Add a button if you want the user to see more.
              </h5>
            </div>
          </div>
          <div class="features">
            <div class="row">
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-primary">
                    <i class="material-icons">chat</i>
                  </div>
                  <h4 class="info-title">First Feature</h4>
                  <p>
                    Divide details about your product or agency work into parts. Write a few lines about
                    each one. A paragraph describing a feature will be enough.
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-success">
                    <i class="material-icons">verified_user</i>
                  </div>
                  <h4 class="info-title">Second Feature</h4>
                  <p>
                    Divide details about your product or agency work into parts. Write a few lines about
                    each one. A paragraph describing a feature will be enough.
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-danger">
                    <i class="material-icons">fingerprint</i>
                  </div>
                  <h4 class="info-title">Third Feature</h4>
                  <p>
                    Divide details about your product or agency work into parts. Write a few lines about
                    each one. A paragraph describing a feature will be enough.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section text-center">
          <h2 class="title">Chi la usa dice</h2>
          <div class="team">
            <div class="row">
              <div class="col-md-4">
                <div class="team-player">
                  <img src="../assets/img/avatar.jpg" alt="Thumbnail Image" class="img-raised img-circle">
                  <h4 class="title">
                    Gigi Hadid <br />
                    <small class="text-muted">Model</small>
                  </h4>
                  <p class="description">
                    You can write here details about one of your team members. You can give more details
                    about what they do. Feel free to add some <a href="#">links</a> for people to be
                    able to follow them outside the site.
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="team-player">
                  <img src="../assets/img/christian.jpg" alt="Thumbnail Image" class="img-raised img-circle">
                  <h4 class="title">
                    Christian Louboutin<br />
                    <small class="text-muted">Designer</small>
                  </h4>
                  <p class="description">
                    You can write here details about one of your team members. You can give more details
                    about what they do. Feel free to add some <a href="#">links</a> for people to be
                    able to follow them outside the site.
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="team-player">
                  <img src="../assets/img/kendall.jpg" alt="Thumbnail Image" class="img-raised img-circle">
                  <h4 class="title">
                    Kendall Jenner<br />
                    <small class="text-muted">Model</small>
                  </h4>
                  <p>
                    You can write here details about one of your team members. You can give more details
                    about what they do. Feel free to add some <a href="#">links</a> for people to be
                    able to follow them outside the site.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section landing-section">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-center title">Contattaci</h2>
              <h4 class="text-center description">Scrivi per ogni dubbio, problematica o proposta. Ti risponderemo appena possibile.</h4>
              <form class="contact-form">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Il Tuo Nome</label>
                      <input type="email" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">La Tua Email</label>
                      <input type="email" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="form-group label-floating">
                  <label class="control-label">Scrivici il messaggio qui</label>
                  <textarea class="form-control" rows="4"></textarea>
                </div>
                <div class="row">
                  <div class="col-md-4 col-md-offset-4 text-center">
                    <button class="btn btn-primary btn-raised">
                      Invia
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li>
              <a>
                CarryOn
                <div class="ripple-container"></div>
              </a>
            </li>
            <li>
              <a href="http://presentation.creative-tim.com">
                About Us
              </a>
            </li>
            <li>
              <a href="http://blog.creative-tim.com">
                Blog
              </a>
            </li>
            <li>
              <a href="http://www.creative-tim.com/license">
                Licenses
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright pull-right">
          © 2017, CarryOn
        </div>
      </div>
    </footer>
  </div>
</div>
