<div class="main-content">
  <div class="container-fluid">
    <div class="col-sm-8 col-sm-offset-2">
      <!--      Wizard container        -->
      <div class="wizard-container">
        <div class="card wizard-card" data-color="rose" id="wizardProfile">
          <form action="" method="">
            <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
            <div class="wizard-header">
              <h3 class="wizard-title">
                Pubblica la disponibilità del tuo camion
              </h3>
              <h5>Inserisci le tue informazioni.</h5>
            </div>
            <div class="wizard-navigation">
              <ul>
                <li>
                  <a href="#about" data-toggle="tab">Dati Personali</a>
                </li>
                <li>
                  <a href="#account" data-toggle="tab">Trasporto</a>
                </li>
                <li>
                  <a href="#address" data-toggle="tab">Conferma</a>
                </li>
              </ul>
            </div>
            <div class="tab-content">
              <div class="tab-pane" id="about">
                <div class="row">
                  <h4 class="info-text"> Non risulti ancora registrato, fallo ora. Ci vuole 1 minuto!</h4>
                  <div class="col-sm-4 col-sm-offset-1">
                    <div class="picture-container">
                      <div class="picture">
                        <img src="../../assets/img/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
                        <input type="file" id="wizard-picture">
                      </div>
                      <h6>Aggiungi la foto</h6>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <!-- Email -->
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">email</i>
                      </span>
                      <div class="form-group label-floating">
                        <label class="control-label">
                          Email
                          <small>(required)</small>
                        </label>
                        <input name="email" type="email" class="form-control">
                      </div>
                    </div>
                    <!-- Password -->
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">star_half</i>
                      </span>
                      <div class="form-group label-floating">
                        <label class="control-label">
                          Password
                          <small>(required)</small>
                        </label>
                        <input name="password" type="password" class="form-control">
                      </div>
                    </div>
                    <!-- Confirm password -->
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">star</i>
                      </span>
                      <div class="form-group label-floating">
                        <label class="control-label">
                          Conferma Password
                          <small>(required)</small>
                        </label>
                        <input name="passwordConfirm" type="password" class="form-control">
                      </div>
                    </div>
                  </div>
                  <!-- Nome e Cognome -->
                  <div class="col-lg-10 col-lg-offset-1">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">email</i>
                      </span>
                      <div class="form-group label-floating">
                        <label class="control-label">
                          Nome e Cognome
                          <small>(required)</small>
                        </label>
                        <input name="firstAndLastName" type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="account">
                <h4 class="info-text"> What are you doing? (checkboxes) </h4>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group label-floating">
                      <label class="control-label">Indirizzo Partenza</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group label-floating">
                      <label class="control-label">Indirizzo Destinazione</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group label-floating">
                      <label class="control-label">Data</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="form-group label-floating">
                      <label class="control-label">Volume disponibile stimato (m3)</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Cella Frigo Presente
                      </label>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="optionsCheckboxes"> Transporto fragile possibile
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="address">
                <h4 class="info-text"> Descrizione mezzo e disponibilita' </h4>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <div class="form-group publish-description-area">
                        <textarea placeholder="Inserisci qui una breve descrizione della tua disponibilita'.."
                                  class="form-control" rows="10"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wizard-footer">
              <div class="">
              </div>
              <div class="pull-right">
                <input type='button' class='btn btn-next btn-fill btn-rose btn-wd' name='next' value='Next' />
                <input type='button' class='btn btn-finish btn-fill btn-rose btn-wd' name='finish' value='Pubblica' />
              </div>
              <div class="pull-left">
                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
              </div>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>
      </div>
      <!-- wizard container -->
    </div>
  </div>
</div>
